*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"nunito" ;
    src: url(../fonts/Nunito/static/Nunito-Regular.ttf);
}
@font-face {
    font-family:"rock" ;
    src: url(../fonts/Rock_Salt/RockSalt-Regular.ttf);
}

.nunitoFont{
    font-family: "nunito";
}
.rockFont{
    font-family: "rock";
    font-weight: 600;
}

/* logo for larger display size */
.logoLarge{
    display:none;
}
.logoSectionLarge{
    display:none;
}
/* header for larger display size */
.headerLogoSectionLarge{
    display: none;
}

.sectionTitleLarge{
    display: none;
}


.headerLogoSectionSmall{
    background: url(../img/dog_catching_snack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100vw;
    
    /* logo for small display size */
        .logoSmall{
        width: 4rem;
        margin:auto;
        padding-top:1rem;
        margin-bottom: 2rem;
        font-family: "rock";
        font-weight: 600;
        }

        /* header text for small display size */    
            .headerTextSectionSmall{
                width: 10rem;
                text-align: right;
                margin-left: auto;
                padding-right: 0.75rem;
                font-family: "nunito";
                font-size: 1.1rem;
                color:#DF8480;
            }
}
.sectionTitle{
    width: 100vw;
    text-align: center;
    padding: 1rem;
    background-color: #DF8480;
    color: white;
    font-family: "nunito";
    font-size: 1.2rem;
}
.mainTextContainer{
    padding: 1rem;

        div{
            margin-bottom: 2rem;
            font-family: "nunito";
            text-align: center;
            }
                .order1{
                font-size: 2rem;
                margin-right: 0.5rem;
                color: #DF8480;
                font-weight: bold;
                }
                .order2{
                font-size: 2rem;
                margin-right: 0.5rem;
                color: #DF8480;
                font-weight: bold;
                }
                .order3{
                font-size: 2rem;
                margin-right: 0.5rem;
                color: #DF8480;
                font-weight: bold;
                }
}

.menuImg{
    width: 100vw;
    margin-bottom: 2rem;
}
.menuSection{
    background: url(../img/dog_bowl.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 15.2rem;
    margin-bottom: 2rem;

        p{
            display: inline;
            font-family: "nunito";
            font-size: 1.2rem
        }
            .delicious{
                position: relative;
                top: 6rem;
                left: 19rem;
            }
                .organic{
                    position: relative;
                    top: 12rem;
                }
                    .locallySourced{
                        position: relative;
                        right: 3rem;
                    }
}
.menuText{
    font-family: "nunito";
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

footer{
    background-color: black;
    color: white;

        .footerText{
        margin-bottom: 1.5rem;
        padding-top: 1.5rem;
        text-align: center;
        font-family: "nunito";
        }
            .inputContainer{
            width: 10rem;
            margin: auto;
            }
                input{
                display: block;
                text-align: center;
                margin-bottom: 0.5rem;
                padding: 0.5rem;
                width: 10.9rem;
                border-radius: 20px;
                border: 1px solid white;
                }

                    button{
                        display: block;
                        margin: auto;
                        width: 10.9rem;
                        padding: 0.5rem;
                        border-radius: 20px;
                        color: white;
                        background-color: #DF8480;
                        margin-bottom: 2rem;
                        border: 1px solid #DF8480;
                    }
}
.socialContainer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.impressum{
    font-family: "nunito";
    text-align: center;
    padding-bottom: 2rem;
}

