* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "nunito";
  src: url(../fonts/Nunito/static/Nunito-Regular.ttf);
}
@font-face {
  font-family: "rock";
  src: url(../fonts/Rock_Salt/RockSalt-Regular.ttf);
}
.nunitoFont {
  font-family: "nunito";
}

.rockFont {
  font-family: "rock";
  font-weight: 600;
}

/* logo for larger display size */
.logoLarge {
  display: none;
}

.logoSectionLarge {
  display: none;
}

/* header for larger display size */
.headerLogoSectionLarge {
  display: none;
}

.sectionTitleLarge {
  display: none;
}

.headerTextSectionLarge {
  display: none;
}

.headerImageSectionLarge {
  background: url(../img/dog_catching_snack-shorter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.headerLogoSectionSmall {
  background: url(../img/dog_catching_snack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
  /* logo for small display size */
  /* header text for small display size */
}
.headerLogoSectionSmall .logoSmall {
  width: 4rem;
  margin: auto;
  padding-top: 1rem;
  margin-bottom: 2rem;
  font-family: "rock";
  font-weight: 600;
}
.headerLogoSectionSmall .headerTextSectionSmall {
  width: 10rem;
  text-align: right;
  margin-left: auto;
  padding-right: 0.75rem;
  font-family: "nunito";
  font-size: 1.1rem;
  color: #DF8480;
}

.sectionTitle {
  width: 100vw;
  text-align: center;
  padding: 1rem;
  background-color: #DF8480;
  color: white;
  font-family: "nunito";
  font-size: 1.2rem;
}

.mainTextContainer {
  padding: 1rem;
}
.mainTextContainer div {
  margin-bottom: 2rem;
  font-family: "nunito";
  text-align: center;
}
.mainTextContainer .order1 {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #DF8480;
  font-weight: bold;
}
.mainTextContainer .order2 {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #DF8480;
  font-weight: bold;
}
.mainTextContainer .order3 {
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #DF8480;
  font-weight: bold;
}

.menuImg {
  width: 100vw;
  margin-bottom: 2rem;
}

.menuSection {
  background: url(../img/dog_bowl.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 15.2rem;
  margin-bottom: 2rem;
}
.menuSection p {
  display: inline;
  font-family: "nunito";
  font-size: 1.2rem;
}
.menuSection .delicious {
  position: relative;
  top: 6rem;
  left: 15rem;
}
.menuSection .organic {
  position: relative;
  top: 12rem;
}
.menuSection .locallySourced {
  position: relative;
  right: 3rem;
}

.menuText {
  font-family: "nunito";
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

footer {
  background-color: black;
  color: white;
}
footer .footerText {
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
  font-family: "nunito";
}
footer .inputContainer {
  width: 10rem;
  margin: auto;
}
footer input {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 10.9rem;
  border-radius: 20px;
  border: 1px solid white;
}
footer button {
  display: block;
  margin: auto;
  width: 10.9rem;
  padding: 0.5rem;
  border-radius: 20px;
  color: white;
  background-color: #DF8480;
  margin-bottom: 2rem;
  border: 1px solid #DF8480;
}

.socialContainer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.impressum {
  font-family: "nunito";
  text-align: center;
  padding-bottom: 2rem;
}

@media (min-width: 601px) {
  .headerLogoSectionSmall {
    background: url(../img/dog_catching_snack-shorter.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
  }
  .mainTextContainer div {
    display: flex;
    align-items: baseline;
  }
  .menuContainer {
    display: flex;
  }
  .menuContainer img {
    width: 50%;
  }
  .menuSection {
    width: 50%;
  }
  .menuSection .delicious {
    left: 13rem;
  }
  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footerBottom .impressum {
    padding-right: 2rem;
  }
  .socialContainer {
    width: 15rem;
  }
}
@media (min-width: 900px) {
  .headerLogoSectionLarge {
    display: block;
    padding: 1rem;
  }
  .logoLarge {
    display: block;
    text-align: center;
    font-family: "rock";
    font-weight: bold;
  }
  .logoSmall {
    display: none;
  }
  .headerTextSectionSmall {
    display: none;
  }
  .headerLogoSectionSmall {
    display: none;
  }
  .headerSectionLarge {
    display: flex;
  }
  .headerTextSectionLarge {
    display: block;
    width: 50vw;
    text-align: end;
    background-color: #DF8480;
    color: white;
    font-family: "nunito";
  }
  .headerTextSectionLarge p {
    font-size: 3rem;
    width: 40rem;
    padding-left: 30rem;
    padding-top: 5rem;
  }
  .headerImageSectionLarge {
    display: block;
    width: 50vw;
    height: 100vh;
  }
  /* main */
  .sectionTitle {
    color: #DF8480;
    background-color: white;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .mainTextContainer {
    display: flex;
    justify-content: space-evenly;
  }
  .mainTextContainer div {
    display: block;
    box-shadow: 1px 10px 16px 0px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    padding: 0.5rem;
    width: 9rem;
  }
}/*# sourceMappingURL=style.css.map */